@page "/flights"

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <FindFlightRes/>
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-warning" role="alert">
            Error with creating reservation. <br />
            Either missing client info or no valid flights were selected. Refresh the page to try again.
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}