@page "/reservationsPage"
<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <ReservationManager />
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-warning" role="alert">
            Error with updating reservation. <br />
            No valid reservation was selected for updates. Refresh the page to try again.
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}